<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Type</key>
		<string>Recycle</string>
		<key>Location</key>
		<string>42.3909,-72.5256</string>
		<key>Description</key>
		<string>In the front of Integrated Learning Center.</string>
		<key>Image</key>
		<string>BinDemo1</string>
	</dict>
	<dict>
		<key>Location</key>
		<string>42.3903,-72.5249</string>
		<key>Type</key>
		<string>Recycle</string>
		<key>Description</key>
		<string>Near the street.</string>
		<key>Image</key>
		<string>BinDemo2</string>
	</dict>
</array>
</plist>
